<!-- include header -->
<% include ../common/loggedIn-header %>
<!-- / end include -->	      

<style>
  /* Set the size of the div element that contains the map */
  #map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
</style>

      <div class="main_content">
        <div class="search_info_bar">
          <div class="container-fluid">
            <div class="sib_left">
              <h3 class="sib_left_title">Connected Business Owners</h3>
            </div>
            <div class="sib_right">
              <!-- <div class="search_wrap">
                <input type="text" class="form-control" placeholder="Name, Category or Invite Code">
                <input type="text" class="form-control" placeholder="Location or Zipcode">
              </div>
              <div class="search_btn_wrap">
                <button type="submit" class="search_btn"><i class="icofont-search-1"></i></button>
              </div> -->
              <div class="view_toggle">
                <a href="<%- baseUrl %>customer/google-map"><img src="<%- baseUrl %>img/list.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
        <!-- end:search_info_bar -->

        <div class="container-fluid">
          <div class="g_map_service_provider">
            <div id="map"></div>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.305935303!2d-74.25986548248684!3d40.69714941932609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1621418913717!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
            <div id="result" style="display: none;">
              <%- JSON.stringify(result) %>
            </div>
          </div>
          <!-- end:g_service_provider -->
        </div>
      </div>
      <!-- end:main_content -->
    </div>
    <!-- end:middle_block -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ6uwVCSWkHJlZD-qZ8hmG--apu2Q76L4&callback=initMap"></script>
    <script>
      var isps = $('#result').html();
      isps = JSON.parse(isps);
       console.log("isps----", isps);
     function initMap() {
        var map_parameters = { center: { lat: 28.6627934, lng: 77.18677559999999 }, zoom: 5 };
        var map = new google.maps.Map(document.getElementById('map'), map_parameters);
        var flag = '<%- baseUrl %>img/map.png';
  
        var position1 = { position: { lat: 28.6627934, lng: 77.18677559999999 }, map: map, icon: flag };
        var position2 = { position: { lat: 28.4595, lng: 77.0266 }, map: map, icon: flag };
        var position3 = { position: { lat: 19.7515, lng: 75.7139 }, map: map, icon: flag };
  
        var a = [{ position: { lat: 28.6627934, lng: 77.18677559999999 }, map: map, icon: flag },
        { position: { lat: 28.4595, lng: 77.0266 }, map: map, icon: flag },
        { position: { lat: 19.7515, lng: 75.7139 }, map: map, icon: flag }]
  
        // a.map(e => {
        //   var marker1 = new google.maps.Marker(e);
        // })
  
        var latLngArray = [];
  
        isps.forEach(element => {
          if(element.lat != 'no' && element.lng != 'no'){
            latLngArray.push({ position: { lat: parseFloat(element.latlng[0].lat), lng: parseFloat(element.latlng[0].lng) }, map: map, icon: flag,title: element.name });
          }
        });
  latLngArray.map(e=>{
    console.log("e----" , e);
    var marker1 = new google.maps.Marker(e);
  })
      }
    </script>

    <script>
      $(document).ready(function(){
        $(".mobile_menu_btn").click(function(){
          $(".mobile_menu").addClass("menu_open");
        });

        $(".menu_close").click(function(){
          $(".mobile_menu").removeClass("menu_open");
        });
      });
    </script>
  </body>
</html>