<!-- include header -->
	<% include ../common/header %>
<!-- / end include -->	
	

          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Edit Format</h3>
              </div>
			</div>

            <div class="clearfix"></div>
			<div class="row">
				<div class="panel-body">
					<form role="form" name="formatForm" action="/admin/format/update" role="form" method="post" class="login-form ">
						<fieldset>
							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" name="name" value="<%= result.name  %>" id="name" class="form-control"  required  placeholder="Name" />
							</div>
							<div class="form-group" >
									<label for="status">Status</label>
									<select id="status" name="status" class="form-control" placeholder="Role" required/>
										<option value="">Select status</option>
										<option value="active" <% if (result.status == "active") {%>
										selected <% } %>>Active</option>
										<option value="inactive" <% if (result.status == "inactive") {%>
										selected <% } %>>Inactive</option>
									</select>
							</div>
							<div class="form-group" >
								<label for="image">Image</label>
								<input type="file" name="image" id="image" value="<%= result.image  %>" class="form-control" />
							</div>
							
							<div class="form-group" >
								<label for="favourite">Is_Favourate</label>
								<select id="isfavourite" name="isfavourite" class="form-control" required/>
									<option value="">Select Is_Favourate</option>
									<option value="Yes" <% if (result.state == "Yes"){%>
									selected <% } %>>Yes</option>
								</select>
								
							</div>
							
							<!-- Change this to a button or input when using this as a form -->
							<input type="hidden" name="_id" value="<%= result._id  %>"/>
							<button type="submit" class="btn btn-success">Update</button>
						</fieldset>
					</form> 
					<!-- /.table-responsive -->
               </div>
            </div>
          </div>
        
<script>
	$(function() {
	  $("form[name='formatForm']").validate({
		rules: {
		  name: "required"
		 // image: "required"
		 // isfavourite: "required"
		},
		
		messages: {
		  name: "Please enter your name"
		  //image: "Please upload image"
		 // isfavourite: "Please select favourate"
		},
	   
		submitHandler: function(form) {
		  form.submit();
		}
	  });
	});
           
</script>           


<!-- include footer -->
	<% include ../common/footer %>
<!-- / end footer -->	