<!DOCTYPE html>
<html>
	<head>
		<title>Page Not Found</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<style type="text/css">
			body {
				font-family: 'Poppins', sans-serif;
				background: #f3f3e1 !important;
			}
			.wrap {
				margin: 0 auto;
				width: 900px;
			}
			.logo {
				margin-top: 30px;
			}
			.logo img {
				width: auto;
				height: 45px;
			}
			.logo h1 {
				padding-top: 100px;
				font-size: 55px;
				color: goldenrod;
				text-align: center;
			}
			.logo h2 {
				font-size: 40px;
				color: #181828;
				text-align: center;
			}
			.logo p {
				color: rgb(228, 146, 162);
				font-size: 20px;
				margin-top: 1px;
				text-align: center;
			}
			.sub a {
				color: white;
				background: #00bcd4;
				text-decoration: none;
				padding: 7px 120px;
				font-size: 18px;
				-webkit-border-radius: 3em;
				-moz-border-radius: 0.1em;
				-border-radius: 0.1em;
			}
			.footer {
				background-color: #181828;
				width: 100%;
				color: #fff;
				position: absolute;
				bottom: 0;
				padding: 20px 0;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div class="logo">
				<img src="/img/logo.png" alt="" class="ml-3" />
				<h1>Sorry!</h1>
				<h2 class="mt-3">The page you are trying to access does not exist</h2>
				<div class="sub mt-4">
					<p><a href="/">Go to Home</a></p>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container text-center ml-auto mr-auto pl-4 pr-4">
				Copyright &copy; 2022 All Rights Reserved
			</div>
		</footer>
	</body>
</html>
