<!-- include header -->
<% include customer/common/header %>
  <!-- / end include -->


  <section class="banner">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Privacy Policy</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <h5> Privacy Policy</h5>
<h5>Overall Summary</h5> 
<p> This privacy policy illustrates how user OYOapp (Business Owner & Customer) account user information is gathered, used, and disclosed by OYOapp LLC and all its affiliates, and 3rd party vendors. This Policy applies to all users, and non-users or visitors of OYOapp website, web application and mobile app. </p><br>
<p> 3rd parties, Business Owner and customers account users interacting via connecting with each other, appointment booking, and transacting may also gather, use, and share information about each other. 3rd parties may gather information of OYOapp account users during transactions and the account setup processes. This Policy does not cover 3rd party and or Business Owners gathering, using and disclosing other OYOapp account user’s information. All Business Owner account users are encouraged to request consent from Customers and other Business Owners they do business with first before using their information. For details and information about third-party privacy practices, please consult with them (for ex., Stripe) directly.</p><br><br>

<h5> What Is Collected & Used </h5>
<p>We collect non-user and OYOapp user account information in various ways. Generally, all information inputted into the website and system. We use this information to improve the user experience, and technical functionality while enhancing the quality of our website and system. Some of the information we collect consists of your name, date of birth, photo, email address, physical address, cell phone number, billing information (credit card, debit card), feedback/opinions, experience, business name, business hours of operation, current and prior appointments details, information from connections (business owners and customers), and location data. We may also collect cookies (data files unique to your device & location), real time website usage behaviors and information from 3rd party/affiliates. OYOapp could use user and non-user information collected through our website and system for the purposes described in this Policy and or to execute requests from users and non-users in connection with the use and or request to access OYOapp. OYOapp may use your information for: </p><br>
<p><b>1.</b>	Improving our website, web and mobile application based on user behavior & feedback </p>
<p><b>2.</b>	Displaying advertisement </p>
<p><b>3.</b>	Sending you information relating to OYOapp, updates, maintenance, alerts, & messages </p>
<p><b>4.</b>	Ensuring proper authentication of your credit and debit card account information </p>
<p><b>5.</b>	Protecting, and guarding against fraudulent, unauthorized, or illegal activities </p>
<br>
 
<h5> How Collected Information Is Shared</h5>
<p><b>1.</b>	OYOapp has access and visibility to all user information. Non-OYOapp account users and OYOapp account users have the ability to view an OYOapp Business Owner account user’s information. OYOapp Business Owner account users receive customer and other Business Owner account information when an appointment is booked, in order to be able to facilitate the appointment requested. This means, potentially all types of contact information (phone number, email, address, credit card, etc.) included in your profile is displayed, especially when you are connected to each other. In order for the automated transactions to occur once triggered, all OYOapp account users must have their registration completed and credit card information added in the system.</p>
<p><b>2.</b>	When a transaction is completed, Stripe, a 3rd party entity, also receives both parties transaction information. Business Owner account users will receive transaction review ratings and comments from customer & other Business Owner account users they transact with. Business Owner account users may use the information received from their connections and other OYOapp users they transact with for their own purposes. OYOapp does not control the privacy practices of these Business Owner account users. Please contact the Business Owner account user directly if you want to learn about their own privacy practices.</p>
<p><b>3.</b>	Account calendar synchronization with other calendars such as Google and Microsoft will lead to appointment booking information being shared to the 3rd party calendar sites (upon user request). All OYOapp account users (Business Owner and Customers) agree and acknowledge by submitting your credit or debit card account information into the system, you consent to the sharing of your information with OYOapp account users you transact with, and 3rd party vendors (such as Stripe). OYOapp provides an opportunity for the transaction to occur via a popular payment gateway provider/Stripe and OYOapp has 0% responsibility with the performance of these transactions. If there are any issues, the OYOapp account users would need to resolve the issue with Stripe. All credit/debit card information is stored with Stripe.</p>
<p><b>4.</b>	The OYOapp system provides Business Owner account users the ability to share their profile with social media platforms (such as Facebook, Instagram or via a link) as a way to attract and easily allow non OYOapp account users access to the system with the Business Owner account users intent of getting a new client with an appointment booked. All OYOapp users are to be mindful of how they use this feature to attract new business opportunities, who they connect with and how they make their profiles public on different social media platforms. OYOapp takes no responsibility with how OYOapp account users put to use features and functionalities for their gains. OYOapp does not control the privacy policies and practices of social media and 3rd party platforms. If you have any questions or concerns about social media and 3rd party platforms you share your information with, you will have to contact them directly to learn.</p>
<p><b>5.</b>	OYOapp may disclose your personal information to <br>
            &nbsp; &nbsp;  1.	Comply with local and federal agencies in response to legal requests <br>
            &nbsp; &nbsp;  2.	Protect the rights and property of OYOapp, and our account users</p><br>
<h5> Personal Information Security</h5> 
<p>OYOapp has implemented and will continue implementing the appropriate efforts to protect your personal information to prevent information loss, unauthorized access, misuse, alteration, disclosure, and destruction. When transactions occur (credit/debit card information transmission), this information is being transmitted with encrypted technological protection (Secure Sockets Layer/SSL).</p>
<p><b>●</b>	All credit/debit card information is stored on Stripe servers, we do not have direct control over and or responsibility for your credit or debit card account information. Stripe has its own security policy and practice to keep your credit or debit card account information secure and confidential.</p>
<p><b>●</b>	Collectively, there is no guarantee that transmissions of your credit or debit card account information and or personal information will consistently be secure and or there will never be security breaches. All OYOapp users agree and acknowledge OYOapp takes no liability or responsibility for errors in transmission, or security breaches. All OYOapp users must keep their account information safe by never sharing usernames and passwords.</p>
 
<h5> Opting Out & Updates</h5>
<p> OYOapp users will receive email communication on updates, alerts, things to know and business information. All users have the option to opt out from receiving OYOapp communication emails. Once opted out, you could still receive communication on critical updates. OYOapp users have the responsibility of contacting OYOapp to update their communication preferences at any time.</p>
<p><b>●</b>	OYOapp collects cookies and most web browsers are set to accept cookies by default. OYOapp users and non-users can choose to remove and reject cookies which could affect your use case experience. A lot of devices (if not all) emit location data of the device. All users and non-users have the ability to turn off their location data by accessing the right disable protocol provided by the device manufacturer. Please, contact your device manufacturer to obtain the steps to deactivate device location. Turning off your location could affect your use case experience. If you would like to deactivate your account, email Support@OYOapp.com <br><br>
OYOapp may update this policy at any time and OYOapp does not have to send any prior notice or post notice to update and or inform users of the updates implemented. All OYOapp users and non-users agree and acknowledge their responsibility to review this document in a periodic manner (of their choice). The use of the OYOapp system is an indication of the user’s agreement to the policy and expectations shared on this document including the updated versions. If there is a disagreement with any aspect of this policy, do not use OYOapp.</p>

        </div>
      </div>
  </section>
  <!-- end:banner -->
  
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- include footer -->
  <% include customer/common/footer %>
    <!-- / end footer -->