<script>
	 $(":submit").attr("disabled", false);
</script>

		</div><!-- /page content -->
		
		
		<!-- footer content -->
        <footer>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

	<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=sans-serif:400,100,300,500">-->

    <!-- FastClick -->
    <script src="<%- baseUrl %>admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="<%- baseUrl %>admin/vendors/nprogress/nprogress.js"></script>
    
	
    <!-- Custom Theme Scripts -->
    <script src="<%- baseUrl %>admin/build/js/custom.js"></script>
  </body>
</html>
