<!-- login modal start -->
<div class="modal" id="loginModal">
	<div class="modal-dialog modal-dialog-centered account_modal">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<i class="icofont-close"></i>
				</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<div class="modal_top">
					<div class="modal_logo">
						<img src="../img/logo.png" alt="" />
					</div>
					<h2 class="account_modal_heading mb-4">Login</h2>
				</div>

				<div class="account_form">
					<form name="loginForm" action="<%- baseUrl %>login" method="POST">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Email <span>*</span></label>
									<input
										type="email"
										class="form-control"
										id="log_email"
										name="email"
									/>
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<label>Password <span>*</span></label>
									<input
										type="password"
										class="form-control"
										id="log_password"
										name="password"
									/>
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<button type="submit" class="btn_sty_1">Login</button>
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<a
										href="#"
										data-toggle="modal"
										data-target="#signupModal_isp"
										data-dismiss="modal"
										>Create Account</a
									>
									<a
										href="#"
										class="float-right"
										data-toggle="modal"
										data-target="#forgotModal"
										data-dismiss="modal"
										>Forgot Password</a
									>
								</div>
							</div>
						</div>
					</form>

					<div class="form_seprator">
						<div class="sep_or">OR</div>
					</div>

					<div class="social_login">
						<h3>Sign In Using</h3>
						<ul>
							<li>
								<a href="/auth/facebook">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="18"
										height="20"
										viewBox="0 0 18 20"
									>
										<text
											id="_"
											data-name=""
											transform="translate(9 16)"
											font-size="18"
											font-family="icofont, IcoFont"
										>
											<tspan x="-9" y="0"></tspan>
										</text>
									</svg>
								</a>
							</li>

							<li>
								<a href="/google">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="14.703"
										height="15"
										viewBox="0 0 14.703 15"
									>
										<path
											id="google"
											d="M7.5,19.5c4.328,0,7.2-3.038,7.2-7.326a6.408,6.408,0,0,0-.122-1.248H7.5V13.5h4.257A4.062,4.062,0,0,1,7.5,16.737a4.738,4.738,0,0,1,0-9.475,4.213,4.213,0,0,1,2.988,1.156l2.036-1.954A7.172,7.172,0,0,0,7.5,4.5a7.5,7.5,0,0,0,0,15Z"
											transform="translate(0 -4.5)"
										/>
									</svg>
								</a>
							</li>

							<li>
								<a
									href1="/auth/apple"
									href="https://appleid.apple.com/auth/authorize?response_type=code&id_token&client_id=com.oyoapp.staging.signin&redirect_uri=https://stage.oyoapp.com/auth/apple/callback&state=81e63b6fc2&scope=name email&response_mode=form_post"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="18"
										height="20"
										viewBox="0 0 18 20"
									>
										<text
											id="apple"
											transform="translate(9 16)"
											font-size="18"
											font-family="icofont, IcoFont"
										>
											<tspan x="-9" y="0"></tspan>
										</text>
									</svg>
								</a>
							</li>

							<li>
								<a href="/auth/linkedin">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="18"
										height="20"
										viewBox="0 0 18 20"
									>
										<text
											id="linkedin"
											transform="translate(9 16)"
											font-size="18"
											font-family="icofont, IcoFont"
										>
											<tspan x="-9" y="0"></tspan>
										</text>
									</svg>
								</a>
							</li>
						</ul>
					</div>
					<!-- end:social_login -->
					<div class="form-group" style="height: 15px; font-size: 13px">
						<!-- <input type="checkbox" class="custom-control-input" id="customCheck"
              name="example1" checked>
            <label class="custom-control-label" for="customCheck"><a href="#" data-toggle="modal" data-target="#termsModal"
              data-dismiss="modal"><strong>Terms and conditions apply. </strong></a>See FAQ page for more details
            </label> -->
						<p class="text-center" style="font-size: 13px">
							<a
								href="#"
								data-toggle="modal"
								data-target="#termsConditionsModal"
								data-dismiss="modal"
								><strong>Terms of Service</strong></a
							>
							&
							<a
								href="#"
								data-toggle="modal"
								data-target="#privacyPolicyModal"
								data-dismiss="modal"
								><strong>Privacy Policy</strong></a
							>. See FAQ page for more details.
						</p>
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- login modal end -->
<!-- terms and condition start -->
<div class="modal" id="termsConditionsModal" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Terms of Service</h4>
				<button
					type="button"
					class="close termsConditions"
					data-dismiss="modal"
				>
					<i class="icofont-close"></i>
				</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<h5>1. Overall Summary</h5>
				<ol type="I">
					<li>
						The Terms of Service (also referred to as an agreement) governs your
						use (as a user and or non-user) of services provided by OYOapp LLC
						and its affiliates. Additional terms, requirements and expectations
						may apply with use of OYOapp LLC (herein OYOapp) which consists of a
						system (herein Website, Web Software and Mobile Application). OYOapp
						reserves the right to edit, change, modify and enhance this
						agreement when OYOapp wants to improve the user experience of the
						OYOapp system. All visitors (non-users) and users who do not agree
						with this Terms of Service should not visit the OYOapp website
						(www.OYOapp.com) and or use the system! This agreement contains,
						among other things, an arbitration provision containing a class
						action waiver. Visitors and users automatically agree to this
						agreement when using OYOapp (web and mobile app).
					</li>
					<li>
						OYOapp.com is a website (for viewing purposes), that provides
						visitors access to the OYOapp system through a registration process
						for a Business Owner and Customer account. These accounts have built
						in features associated with each account. A Business Owner account
						has access to features (at its core) that grant the Business Owner
						account user the ability to store customer and other business owner
						contact information, appointment booking for other users (both other
						business owners and customers), transact effortlessly with our 3rd
						party integrated (Stripe) automated payment processor,
						payment/transaction history, business performance dashboard (to
						track sales, tips, customer satisfaction, total appointments,
						cancellations, and no shows), while provisioning the ability for the
						Business Owner account user the ability to create and deliver
						services. Customers account users are able to store Business Owner
						contact information, easily transact with business owners, and track
						their payment history. Both accounts are able to receive app
						notifications, appointment details (bookings, rescheduling and
						cancellations), reminders, updates on payments and business
						intelligence.
					</li>
					<li>
						OYOapp reserves the right to make changes, at any time, to the
						system (website, web & mobile app), and this Agreement without
						sending prior notice to users. Your continued use of the OYOapp
						system services guarantees your agreement and signifies your
						acceptance of the current and any new or amended terms and
						conditions.
					</li>
					<li>
						All users are expected to keep their account information up to date.
						Any false/fake, or incorrect information may cause your account to
						be blocked. Business Owners must establish a Stripe account upon
						registration in order to process transactions and receive payments.
					</li>
				</ol>

				<h5>2. User Agreement</h5>
				<ol type="I">
					<li>
						By accepting to access or use the OYOapp (Web & Mobile App) Services
						you automatically signify (a) you are an adult (per our state/city
						qualifications/at least eighteen (18) years old or twenty-one (21)
						years old according to your local law), (b) are in good standing
						with the law and it does not prohibit you from accessing or using
						OYOapp, (c) you have read, understand, and agree to be in compliance
						to this Agreement, and (d) have and will take full (100%) ownership
						of all legal business registrations to be compliant within your
						country and state to deliver business services with use of OYOapp.
						OYOapp will take no ownership of users' non-compliance with state
						regulations to practice/deliver business services. If you are a
						minor (below the age of 18), you can only use OYOapp with the
						consent and supervision of your parents or legal guardians. If you
						are 13 years or younger, please do not use this site or any of its
						services for any purpose. You must be at least 18 years of age to
						create or use a business account. Competitor, previously banned
						users are not permitted to use OYOapp. If you are not sure if you
						are a competitor, do not use OYOapp.
					</li>
					<li>
						This user agreement is subject to the Privacy Policy, which also
						governs your use of the OYOapp system. OYOapp is a Software as a
						Service business management tool granting its users (business owners
						& customers) the ability to create a profile, browse/view content,
						book appointments, send/receive payments and rating reviews, and
						track overall performance respectively. OYOapp does NOT control (a)
						the quality, safety, morality or legality of any aspect of any
						services offered by Business Owners using OYOApp, (b) the truth,
						quality or accuracy of listings or any kind of information (profile,
						services) being shared by Business Owners, (c) the quality,
						timeliness or accuracy of any Business Owners availability and or
						appointment calendar, (d) the ability of Business Owners to
						provide/deliver booked services appropriately, (e) the identity of
						any Business Owners or Customer and their intent, (f) the ability of
						Customers to pay for Services, (g) the ability for customers to
						provide accurate information about themselves and attend
						appointments on time. OYOapp is not responsible for parties
						(Business Owner & Customer or Business Owner) being prompt with
						attending appointments or attending appointments. OYOapp cannot and
						will not guarantee a Business Owner or Customer will actually attend
						an appointment and or complete a transaction. Doing business,
						booking and making yourself available to appointments and
						appointment details including user profile information, is solely at
						your own risk.
					</li>
					<li>
						You acknowledge and agree OYOapp is a marketplace where Business
						Owners and customers take full responsibility of their actions,
						inactions, appointments, and transactions. You agree all disputes
						amongst users (Business Owner and Customer or Business Owner) will
						be resolved amongst both users (Business Owner and Customer or
						Business Owner). Transaction disputes will be resolved either
						between users (Business Owner and Customer or Business Owner) and
						include Stripe as the 3d party payment processor of the transaction
						in cases when needed. In all instances of disputes and or claims
						(even those not mentioned), will not involve OYOapp. AT NO TIME WILL
						A CUSTOMER and BUSINESS OWNER DISPUTE INCLUDE OYOAPP. OYOapp is not
						responsible for any inaccurate information within the OYOapp Web &
						Mobile app. OYOapp is not responsible for the accuracy and quality
						of the information, appointment timing and services delivered by
						Business Owners
					</li>
				</ol>

				<h5>3. OYOapp Agreement Modifications & Changes</h5>
				<ol type="I">
					<li>
						OYOapp may update or revise this Agreement along with the Privacy
						Policy anytime without being bound to provide a notice to its users
						(Business Owners and Customers). As a user, you agree that you will
						review both this Agreement and the Privacy Policy periodically
						(could be monthly, quarterly, annually) to stay up to date on
						modifications. You have the choice to accept the updated version of
						this Agreement and the Privacy Policy or not to and immediately
						close your account by sending an email to support@OYOapp.com
						requesting account closure by which you will no longer have access
						to the account.
					</li>
					<li>
						OYOapp may edit (remove, delete, modify) any and all aspects of the
						app and contextually the services at our discretion which such
						changes could be implemented without notice to users. If you do not
						agree to such modifications and changes, you can close your account.
					</li>
					<li>
						If you encounter any error (glitches, poor performance, bugs,
						defects) within OYOapp, please let us know by sending an email to
						support@OYOapp.com. We do not guarantee any or all errors will be
						corrected. All users are expected to use the latest version of
						manufactured phones with the latest version of their manufacturer’s
						operating systems along with Chrome browser or Safari.
					</li>
				</ol>

				<h5>4. Access to the OYOapp System</h5>
				<ol type="I">
					<li>
						OYOapp will try to make access to the OYOapp system available
						twenty-four (24) hours a day, seven (7) days a week, except for
						planned down-time for maintenance efforts. However, we do not
						guarantee users will have access to the OYOapp system at all times.
						The use of OYOapp requires Internet access through your computer,
						mobile device, tablet or other internet-accessible device and you
						are responsible for the quality, connection speed, bandwidth and
						other technical specifications of your internet through your
						internet service provider. You are responsible for all mobile
						carrier charges resulting from your use of OYOapp (including
						reminders and notifications) if charges are incurred. OYOapp does
						not guarantee compatibility with all devices or being supported by
						all mobile carriers. You may be required to have some kind of
						computer language enabled to use the OYOapp system.
					</li>
				</ol>

				<h5>5. Right of Refusal, and Termination</h5>
				<ol type="I">
					<li>
						OYOapp reserves the right to refuse to provide you access to the
						OYOapp system for any reason at any time. OYOapp may choose to limit
						or cancel any account (Business Owner or Customer) for any reason at
						any time. OYOapp will choose to either notify (via email, text or
						phone call) or not to notify the account user upon
						cancellation/termination of the account. All data will be lost upon
						account closure and OYOapp as the owner of the data has no liability
						or responsibility to provide the user with a data file.
					</li>
				</ol>

				<h5>6. Prohibited uses</h5>
				<ol type="I">
					<li>
						You acknowledge and agree to use OYOapp only for legal purposes. You
						will not solicit directly or indirectly users to facilitate and or
						participate in illegal actions, will not violate any laws and
						regulations You will not:
						<ul type="1">
							<li>
								Infringe upon or violate OYOapp intellectual property rights or
								the intellectual property rights of users (Business Owner and
								Customers)
							</li>
							<li>
								Disrespect other users (all forms of disrespect including but
								not limited to abuse, harm, insult, disparage, slander, defame,
								intimidate)
							</li>
							<li>
								Discriminate users (all forms of discrimination including but
								not limited to discriminations based on religion, gender,
								ethnicity, age, sexual orientation, race, national origin, or
								disability)
							</li>
							<li>Sell, share bad or misleading information</li>
							<li>Hack or try to hack the OYOapp system</li>
							<li>
								Upload or transmit malware, viruses or any other type of
								malicious code (directly or indirectly) that will or may be used
								in any way to affect the functionality or operation of OYOapp
								and cause digital harm to OYOapp Web and Mobile app system, the
								users, OYOapp servers or network or infrastructure
							</li>
							<li>Gather personal information from others to track them</li>
							<li>Spam, phish, pharm, pretext, spider, crawl, or scrape</li>
							<li>
								Use your account for inhumane purpose (human trafficking,
								stalking, kidnapping)
							</li>
							<li>
								Cause digital malice, harm or interfere with OYOapp security and
								infrastructure
							</li>
							<li>Pursue legal action against OYOapp</li>
							<li>
								Sublicense, lease, sell, trade, rent any aspect, materials,
								Intellectual Property of OYOapp to anyone or 3rd party
							</li>
							<li>
								Reverse engineer, decipher, try to uncover OYOapp design, code,
								APIs, or payment gateways
							</li>
							<li>Modify (edit, remove, change) any OYOapp components</li>
							<li>
								Upload, import, distribute, or publish any illegal content
								(including but not limited to defamatory, libelous, obscene,
								abusive, pornographic, or illegal material in any way form or
								fashion)
							</li>
							<li>
								Practice racism and hate speech will not be tolerated, it leads
								to immediate termination of the user account.
							</li>
							<li>
								Directly or indirectly attack another User. Attacks will not be
								tolerated; it leads to immediate suspension and or termination
								of the user account.
							</li>
							<li>
								Use OYOapp to solicit, distribute or publish any type of illegal
								solicitation directly or indirectly.
							</li>
							<li>
								Upload, import, post or transmit any illegal content that
								violates any domestic law
							</li>
							<li>
								Spam, upload, import, post, or transmit any content advocating
								or providing discussion or instruction on illegal activities
							</li>
							<li>
								Upload, import, post, or transmit content that has nothing to do
								with the legal service being rendered
							</li>
							<li>
								Impersonate anyone, or business entity, breach gather/steal user
								information for personal acts/gains or of a 3rd party
							</li>
							<li>
								Engage in unlawful pyramid schemes, multi-level marketing, fake
								businesses, or fraud
							</li>
							<li>Facilitate or encourage any violations of this document.</li>
							<li>
								All users acknowledge and agree any profile created could be
								edited (changed, removed, altered, deactivated, terminated,
								displayed anywhere on the internet for any purpose such as
								marketing purposes) and all users agree this can happen at any
								given time without notice provided.
							</li>
						</ul>
					</li>
					<li>
						OYOapp reserves the right to terminate your account for violating
						any of the prohibited uses or for any other reason OYOapp
						determines.
					</li>
				</ol>

				<h5>7. Fraudulent Payment & Transactions</h5>
				<ol type="I">
					<li>
						OYOapp is not liable for any losses relating to chargebacks,
						fraudulent charges, or other actions by any user’s who are deceptive
						or fraudulent. You agree to not hold OYOapp liable to any fraudulent
						or illegal actions emerging from any direct or indirect interactions
						and or transactions with other users (Business Owners and
						Customers). You agree to notify us of any fraudulent and illegal
						actions identified. OYOapp has the right at any time to terminate
						any user account for any reason, especially for fraudulent and
						illegal actions. Understand, OYOapp could pursue legal actions to
						the highest extent allowed by the law on identified fraudulent and
						illegal users.
					</li>
				</ol>

				<h5>8. Privacy & OYOapp Monitoring</h5>
				<ol type="I">
					<li>
						If OYOapp provides you with information about other users (including
						but not limited to: account connections, displaying of user
						information appointment bookings), you agree that you will use the
						information only for the purposes that it is provided to you (in
						context to a legal business matter ro transaction). You may not
						disclose, sell, rent, or distribute any user's information to
						anyone, entity or a 3rd party. You must request and obtain approval
						from other users before you use their information for marketing
						purposes.
					</li>
					<li>
						Users agree all user and non-user related content displayed,
						published and unpublished content is owned by OYOapp and OYOapp can
						reproduce, share, display, publish that content anywhere and at any
						time without informing the users in perpetuity. OYOapp owns the
						rights to all content uploaded and has the right to monitor user
						accounts at all times, without informing users.
					</li>
					<li>
						When you provide your contact information, you agree to be contacted
						by OYOapp through that channel of communication. This can be via
						direct dial calls, automated text messages, and pre-recorded message
						calls. Users may be required to authenticate themselves. OYOapp is
						not responsible and cannot be held liable for verification or
						non-verification of a user’s identity.
					</li>
					<li>
						OYOapp may use GPS locator capabilities to identify your current
						location and if you provide a mobile phone number, email address and
						mailing address, you agree to receiving SMS text messages, phone
						calls, emails, push notifications, in-app communications, and mail.
						If you incur any charges from your cell phone carrier, you are
						responsible for these charges. You agree to be responsible for any
						additional charges not mentioned. OYOapp may contact you to notify
						you to share details regarding your account, troubleshoot
						bugs/defects, resolve a dispute, collect debt, obtain your opinion,
						marketing purposes and you agree to being contacted via any
						communication channel provisioned to us
					</li>
					<li>
						You can opt out directly by reaching out to support@OYOapp.com
						requesting to be opted out.
					</li>
				</ol>

				<h5>9. Appointment Booking & Payment Expectations</h5>
				<ol type="I">
					<li>
						OYOapp provides booking functionality to Users for the purpose of
						assisting Business Owners and Customers with appointment booking
						opportunities/efficiently managing their calendars. OYOapp will not
						be held liable for bugs, glitches, defects, errors in
						double-booking, no shows, cancellations, and any appointments that
						disappear. By using OYOapp, all users agree to receive
						notifications, appointment confirmations and reminders either within
						OYOapp or by email. OYOapp will not be held liable in the event an
						appointment confirmation or reminder is not sent to or received by a
						user.
					</li>
					<li>
						OYOapp is not responsible for customers or Business Owners canceling
						or not showing up to appointments. Business Owners could incur fees
						associated with Stripes policy and expectations. Cancellation
						timeframes are determined by the Business Owner upon the creation of
						the service and customers/Business Owners who book services would
						have to adhere to the Business Owners cancellation expectations. All
						OYOapp users may be charged a cancellation fee and any refunds would
						be managed solely by the Business Owner.
						<ul>
							<li>
								Customers and or Business Owners who cancel or fail to show up
								for multiple bookings may have their Accounts terminated, at the
								sole discretion of OYOapp. Especially in the event that the user
								account has been reported several times.
							</li>
							<li>
								All OYOapp users agree to book appointments and attend those
								appointments while ensuring the Business Owner is fully paid for
								rendering their services. Resales are prohibited and are ground
								for account termination.
							</li>
						</ul>
					</li>
					<li>
						OYOapp offers 3rd party integrated payment services through stripe
						for Business Owners and Customers to transact amongst each other
						(Customers sending payments for services to Business Owners and
						Business Owners sending payments to Business Owners). OYOapp does
						not collect a fee from each transaction and holds the right to
						change this decision at any time for any amount without sending
						prior notice to all users. All fees currently, are managed by Stripe
						in accordance to the charge and tax for each service set by each
						Business Owner. Each Business Owner will have their own Stripe
						account. Business Owner account users create their Stripe account
						once OYOapp account creation has been completed. Once the Stripe
						account has been created, some time is required for Stripe to
						complete their verification step. If there are any additional
						charges incurred by the business owner, the expectation is for that
						business owner to resolve the costs or dispute with Stripe. Business
						Owners are responsible for paying their monthly subscription
						payments to OYOapp. OYOapp reserves the right to change the monthly
						subscription cost at any time without sending any prior notice to
						all users. Business Owners who fail to pay their monthly
						subscription payment understand there will be limited access to
						OYOapp until their monthly subscription bill is paid in full. All
						users acknowledge and agree OYOapp is not responsible for any
						additional charges beyond the monthly subscription fees. All
						payments (both the monthly payment to OYOapp and business owner
						transactions) are automated with a triggering action of complete
						payment initiated by Customer or complete appointment initiated by
						the Business Owner.
					</li>
					<li>
						The prices and the terms of payment for Business Owner services are
						displayed at the time of booking in OYOapp. Business Owners have the
						right to modify and change their cost for the services at any time
						at their own sole discretion (as long as it doesn’t impact existing
						ongoing/in flight appointments). Taxes are managed between the
						Business Owner and Stripe.
					</li>
					<li>
						All users must provide valid credit or debit card account
						information to OYOapp to participate in a successful transaction.
						Users may add, delete, and edit their credit or debit card account
						information. All users acknowledge and agree to our use of
						Stripe/3rd third-party integrations payment gateway to process
						payments and manage debit and credit card information. All issues or
						disputes will be managed amongst Business Owners, Customers and
						Stripe without the involvement of OYOapp.
					</li>
					<li>
						By providing debit or credit card account information in OYOapp, all
						users acknowledge and agree they are the legal owners of those
						banking products, you are legally authorized to use these products
						via transactions, you will always ensure a sufficient amount of
						funds (or credit) in the account to cover the payment for the
						service received or to be received. Business Owner account users
						agree and acknowledge the automated transaction (triggered by the
						mark completed button), initiates the remaining or full payment
						process to ensure the Business Owner receives the appropriate
						payment for the service. Customers are also able to send their
						payment with the (send payment button) for services received. If a
						customer has not paid for a service rendered by a Business Owner
						account holder, the Business Owner account holder is responsible for
						reaching out to the customer to ensure proper payment. All users
						acknowledge and accept the binding agreement to take full 100%
						ownership of the financial responsibility for all services booked in
						OYOapp.
					</li>
					<li>
						All the receipts for the transactions connected with the Payment
						Services are visible in your OYOapp account (payment history) and
						within your Stripe account. OYOapp is not liable for any payments
						that are not completely successful for whatever reason. For ex.,
						insufficient funds, credit limit was reached, account overdraft,
						lack of accurate credit or debit card information, expired credit or
						debit card, power outage, internet disruption, device lock or power
						outages or failure. Business Owners are solely responsible for
						ensuring Customers pay them and Customers are solely responsible for
						paying for services received.
					</li>
				</ol>

				<h5>10. Accounts Expectations & Guidelines</h5>
				<ol type="I">
					<li>
						i. All account users (especially Business Owners) will not use
						OYOapp accounts for any illegal activity or goods, distribution or
						redistribution of drugs and firearms (including ammunition, and
						other weapons), betting, gambling, illegal money transfers,
						financial securities, pyramid selling or multi-level marketing,
						counterfeit of any kind, alcohol, tobacco, violence terrorism,
						racism. Users who infringe on these terms will have their accounts
						terminated.
					</li>
					<li>
						ii. In order to use OYOapp, a user account must be created. By
						opening an account, you agree to comply with this document and the
						Privacy Policy. You agree to use OYOapp in good faith to render
						legal services to customers in a timely and accurate manner. It is
						your responsibility to provide true/valid and accurate information.
						Stripe will initiate a Know Your Customer (KYC) process to verify
						your Business Owner account and they have the right to deny your
						Stripe account. You agree to notify Stripe & OYOapp upon this kind
						of situation as well as when you notice along with any breach in
						your Stripe account. You agree to inform OYOapp if you ever notice
						any breach in your OYOapp account.
					</li>
					<li>
						iii. OYOapp users will be given access to create accounts online via
						Web or Mobile App. By creating your account, you agree to provide
						true, accurate information (none deceitful) to the best of your
						knowledge and agree to maintain/ensure your account information is
						consistently accurate. All users acknowledge and agree not to share
						their password with anyone. OYOapp provides users the ability to
						create profiles, upload and import content while communicating with
						other users via booking, comments payments, and ratings.
					</li>
					<li>
						iv. When importing contacts from your email service provider, the
						only contacts that can be uploaded into the OYOapp system are
						contacts who have a name and email address within your contact list.
					</li>
				</ol>

				<h5>11. Free Trials & Monthly Fees</h5>
				<ol type="I">
					<li>
						Creating a Business Owner account and going through a free trial is
						of no cost. A free trial lasts 7 days. OYOapp reserves the right to
						change the timeframe of the free trial anytime without sending out a
						notice to the users prior to initiating the change. Once the free
						trial is over, the Business Owner is responsible for paying the
						monthly subscription fee of 15 per month. All information in
						Business Owner accounts must be valid, true, accurate and up to
						date.OYOapp reserves the right to change the monthly subscription
						fee anytime without sending out a notice to the users prior to
						initiating the change.
					</li>
					<li>
						OYOapp customer accounts are free. These accounts are equipped with
						the ability to be upgraded to a Business Owner account. All
						information in customer accounts must be valid, true, accurate and
						up to date. OYOapp reserves the right to close any user account at
						any time without prior notice.
					</li>
					<li>
						OYOapp collaborates with 3rd party platforms who have their own
						Terms of Use and Privacy Policies. As a user you agree that your
						information (including but not limited to your name, business name,
						address, website, telephone number, email address, hours of
						operation, biography/profile description, service description,
						schedule of availability, services offered, prices, reviews, and
						past work images). By using OYOapp, you grant OYOapp approval in
						perpetuity to use any and all data along with content for OYOapp
						marketing, data sharing, and system optimization. Users also
						acknowledge and agree the use of 3rd party products, have their own
						Terms of Services (or use) and privacy policies not covered by this
						document.
					</li>
					<li>
						A Business Owner account user can cancel their account by emailing
						support@OYOapp.com. As a Business Owner account user, you
						acknowledge and agree that there are no refunds so OYOapp will not
						refund you for any reason (for ex, timeframe remaining in the month,
						time OYOapp was not used, even if there were no business operations
						being executed). It is also the Business Owner’s responsibility to
						inform clients when they have closed or are moving on to another
						location or business endeavor, un-sync their calendar and deactivate
						their 3rd party accounts (for ex, Stripe account). A lack of
						activity (log in) on an account for more than 30 days could lead the
						account to change into a dormant (inactive) status by which if a
						Business Owner account user wanted to reactivate a dormant account,
						the user should email support@OYOapp.com.
					</li>
					<li>
						Business Owner account users agree and acknowledge all service sales
						and bookings are an agreement between the customer and the Business
						Owner (and could be between a Business Owner and Business Owner).
						The Business Owner understands that he, she, or it, (however the
						Business Owner identifies as a user of their Business Owner account)
						shall be solely responsible for delivering the services purchased by
						a customer or another Business Owner and that a contract for the
						service delivery of sale emerges when an appointment is booked by
						either a customer or Business Owner. Depending on how the service is
						configured, an advanced payment is requested/placed per the Business
						Owner configuration of that service. OYOapp does not have a
						processing fee and could introduce a processing fee in the future
						without having to provide a notice prior to, to all users. The
						Business Owner account user is solely responsible for refunds for
						whatever the reason is. All users agree and acknowledge, OYOapp is
						not responsible for refunds and or resolving any transactional
						disputes. All Business Owners must set up their cancellation
						policies, and state their refund expectations. All service delivery
						sales are subject to the Federal and State laws.
					</li>
					<li>
						Business Owner account users are expected to not use their account
						for drug use, illegal, abusive, defamatory, threatening, invasive
						acts. Business Owner account users may not steal intellectual
						property, sell illegal services, products, counterfeit/fake
						products/services, hazardous products, money launder, or traffic any
						substance. All Business Owner account users agree and acknowledge
						that OYOapp can request confirmation of their service industry
						license at any time and it must be furnished in less than 7 days.
						All Business Owners agree and acknowledge that OYOapp expects all
						legal required efforts necessary for each Business Owner account
						user to be in business has been completed by the business owner
						account user as per the state laws & jurisdiction regulations.
					</li>
					<li>
						Any and all governmental employees, agencies, and/or agents
						including investigators must identify themselves to OYOapp upon
						entering the OYOapp system and share their intent of visit before
						creating an OYOapp user account (Business Owner or Customer). The
						method of contacting OYOapp is to email us at Support@OYOapp.com.
					</li>
					<li>
						Business Owners are required to list their service(s) by completing
						all the required fields within the service creation screen and
						describe the service(s) being provided accurately with all
						expectations.
					</li>
					<li>
						ix. The Business Owner account user is responsible for maintaining
						and updating their calendar to display accurate availability at all
						times so customers are able to book their services accordingly. The
						Business Owner account users agree and acknowledge OYOapp will not
						be held responsible for double bookings, schedule related errors,
						bugs, defects and glitches.
					</li>
				</ol>

				<h5>12. Service Delivery Expectations</h5>
				<ol type="I">
					<li>
						Business Owner account users agree and acknowledge to sell services
						ethically without any deceit, false or misleading information about
						their services. Business Owner Account Users agree to conduct
						themselves in an ethical manner that is not racist, immoral,
						unlawful and deceitful (especially with service ratings and
						comments). All Business Owner account users agree to comply with
						Stripes terms and policies. Business Owner account users agree to
						comply with federal and state laws and regulations including legal
						compliance related to the service industry they are in.
					</li>
					<li>
						Business Owner account users will have the sole responsibility of
						managing the sharing and integration (copy and pasting) of the link
						to their profile page to their websites, social media platforms and
						any other web destination. Business Owner account users understand
						OYOapp is not liable to anything that may emerge from sharing and or
						the integration of their link of their business with people,
						websites, social media platforms and other web destinations.
					</li>
					<li>
						Business Owner account users have the right to accept or decline
						appointments (by canceling or not having calendar availability).
						Business Owner account users must provide transparency on the
						policies for their services for the following: prepayment policies,
						cancellation policies, return policies, and payment policies. A
						failure to provide policies could result in account suspension and
						or termination.
					</li>
					<li>
						OYOapp offers no refunds to monthly subscribers of Business Owner
						accounts. Business Owners are solely responsible for the refunds and
						chargebacks between themselves, customers and other Business Owners.
						Stripe can be contacted for assistance if any transaction issue
						cannot be resolved amongst all users. All users agree OYOapp is not
						involved in triaging or resolving transactions between users.
					</li>
					<li>
						All situations whereby funds are withheld or insufficient, users
						would have to resolve the situation amongst themselves. All users
						agree, and acknowledge, OYOapp is not responsible for any withheld
						and or insufficient funds. Stripe can be contacted for assistance if
						any transaction issue cannot be resolved amongst OYOapp users.
					</li>
					<li>
						Once a Business Owner account user creates an OYOapp account, the
						user will be prompted to create their payment information and
						banking details through Stripe. Upon the creation of your Stripe
						account, payout expectations, (specifically which bank account you
						would like your payments to be deposited into) will be provided. For
						more details (payout schedules, refunds, chargebacks, overall fees)
						about your Stripe account. All users agree and acknowledge OYOapp is
						not responsible for any delay of payout (this is solely a
						responsibility between the Business Owner account user and Stripe).
					</li>
					<li>
						Business Owner account users agree and acknowledge it is their
						responsibility to provide OYOapp and Stripe accurate and up to date
						payment and banking details. Failure to provide current information
						could lead to a lag in payouts or funds being held by Stripe.
					</li>
					<li>
						OYOapp will attempt to ensure the OYOapp system (Web and Mobile app)
						is bug free. OYOapp will attempt to resolve bugs as soon as they are
						identified and or informed by OYOapp users. If there are any errors
						noticed (especially those that impact a user’s transaction/payout),
						all users are to inform us via Support@OYOapp.com and we will
						initiate efforts to resolve the bug(s) as soon as possible. Failure
						to inform us and Stripe of a bug(s) that impacted a transaction
						within 30 days could be non-refundable by Stripe.
					</li>
					<li>
						Business Owner account users agree and acknowledge to share their
						return & cancellation policies at the time of booking/purchase of
						service. If return & cancellation policies are not clearly shared
						between the Business Owner and Customer (or another Business Owner),
						if a dispute arises, the dispute must be resolved between the users
						involved in the transaction. OYOapp is not responsible or held
						liable for resolving this issue. The OYOapp account users should
						reach out to Stripe for assistance with identifying a resolution (if
						needed) and understanding fees involved with and without recourse.
						All Business Owner account users agree to comply with Stripe’s terms
						and policies.
					</li>
					<li>
						All OYOapp users (Business Owners & Customers) agree and acknowledge
						by agreeing to this document, waive their right to pursue any legal
						claims, and lawsuits against OYOapp. All users agree to resolve all
						issues amongst OYOapp users, Stripe and with OYOapp.
					</li>
					<li>
						All OYOapp users can access their payment history and (Business
						Owners) can access their performance dashboard at any time. The
						payments feature has tracking details from transactions while the
						performance dashboard has data covering key performance metrics
						(such as sales, tips, customer satisfaction, visit overview like
						total appointment, cancellations and no shows). OYOapp will attempt
						to keep these features along with all other features (the whole
						OYOapp system) bug free and with accurate information. OYOapp does
						not guarantee the OYOapp system will be bug free consistently and
						always accurate. All OYOapp users agree they are encouraged to
						maintain their own transaction history and performance data along
						with verifying it with a professional accountant. All OYOapp users
						acknowledge they are using the OYOapp system at their own risk.
						OYOapp will not be held responsible in the event some data, content
						or information is inaccurate or incomplete.
					</li>
				</ol>

				<h5>13. Intellectual Property</h5>
				<ol type="I">
					<li>
						This agreement to pay for a monthly subscription to an OYOapp user
						account is not a license to any software or intellectual property.
						All materials (herein text, photographs/images, videos, audio,
						sound, graphics, data, content) and intellectual property is owned
						by OYOapp LLC and are protected by U.S. and international copyright,
						trademarks, service marks, and other proprietary rights, laws, and
						treaties. All users and non-OYOapp users may not infringe, remove,
						alter, record, copy, or counterfeit any material or IP of OYOapp.
						All perpetrators will be prosecuted to the highest extent of the
						law. The only right OYOapp users have is to be able to use the
						OYOapp system at their own risk. You acquire no rights or licenses
						whatsoever in the Materials other than the ability to access and use
						the Services in accordance with this agreement. Any of the Materials
						accessed or downloaded from this site must be accessed or downloaded
						in accordance with this agreement.
					</li>
					<li>
						OYOapp LLC owns all and every information inserted, inputted,
						uploaded, migrated, keyed in / added into OYOapp. All text,
						photographs/images, videos, audio, sound, graphics, data, content
						are owned by OYOapp LLC. All OYOapp users automatically grant OYOapp
						non-exclusive, worldwide, perpetual, irrevocable, royalty-free,
						rights to all content introduced to your account. All users agree to
						OYOapp storing data, editing/reformatting user content the way
						OYOapp choses.
					</li>
					<li>
						All OYOapp users have OYOapp user accounts, nothing beyond this.
						These accounts can be terminated at any point for reasons OYOapp can
						choose to disclose or not disclose. Users are responsible for
						ensuring they are using the latest devices to have a good user
						experience. OYOapp may have a business relationship with 3rd
						parties, affiliates and brand ambassadors to whose products and/or
						services we link and promote in OYOapp. Because of this
						relationship, we may earn a commission on products and or services
						purchased by a user. All 3rd parties have their own Terms of
						Agreement and Privacy Policies. OYOapp users are encouraged to
						review and understand 3rd party documents and expectations on their
						own.Should you have any questions, comments or concerns regarding
						OYOapp, contact us via email at support@OYOapp.com.
					</li>
				</ol>

				<h5>14. Business Information Transparency</h5>
				<ol>
					<li>
						OYOapp users are able to see business information on connected and
						non-connected users. Business Owners and Customers will be able to
						view business information (Name, business name, birthdate, phone
						number, gender, email address, physical business address, website
						address, experience years, expectations/policies, business review
						rating, pictures of previous work). With consent from the customers
						and business owners, OYOapp users can send business information to
						each other without SPAMMING. OYOapp has the right to retract users
						consenting with each other to send business information at any time
						without prior notice to users.
					</li>
					<li>
						All OYOapp users agree and acknowledge all feedback provided to
						OYOapp through focus groups, conference calls, individual meetings,
						formal and informal communication are opinions (which includes but
						is not limited to ideas, concepts, proposals, suggestions, inputs,
						and tips). All OYOapp and non OYOapp users who provide opinions of
						the types mentioned agree and acknowledge these opinions (which
						includes but is not limited to ideas, concepts, proposals,
						suggestions, inputs and tips) are provided for free with nothing in
						return. OYOapp will not be held responsible for any opinions
						implemented or not implemented because there are opinions internally
						motivated that could be the same, similar or somewhat like the
						opinion received.
					</li>
					<li>
						All OYOapp users agree and acknowledge all integrations with 3rd
						parties could generate errors. OYOapp is not responsible for any
						level of accurate information domiciled within 3rd party sites and
						or platforms or any damages encountered from 3rd party sites. OYOapp
						will attempt to ensure all integrations are working without bugs,
						glitches and errors. However, OYOapp users agree all risks
						originating from 3rd party integrations are not owned by OYOapp.
						Users agree to be compliant with 3rd party terms of service and
						privacy policy.
					</li>
					<li>
						OYOapp users agree and acknowledge the use of OYOapp is at the sole
						risk of the user. OYOapp does not guarantee the OYOapp system will
						be error free and without bugs nor does OYOapp guarantee accurate
						data consistently at all times. Using OYOapp is an experience,
						OYOapp will not be held liable for unfavorable/bad experiences,
						delays, interruptions, service failures, restrictions, functionality
						limitations, functionality challenges, and issues outside the
						control of OYOapp. All users agree to not hold OYOapp responsible or
						any of our affiliates and 3rd parties, for any errors, defects,
						bugs, glitches, data loss, business loss, monetary loss, loss of
						client, or any losses or negative impacts originating from the use
						of the OYOapp system.
					</li>
					<li>
						All users agree and acknowledge all users (Business Owners &
						Customers) are solely responsible for their interactions between
						each other. All users agree sole responsibility to any and all
						claims, injuries, illnesses, damages, liabilities, and costs
						suffered by the user, or your business as a result of your
						interaction with a user or visit to any Business Owner for a
						service. All users agree to waive and relinquish all rights and
						benefits under any law of any jurisdiction that provides a basis of
						pursuing legal action at OYOapp LLC. All users agree and acknowledge
						full responsibility with resolving their legal matters on their own
						or with the other involving the user or users. Any and all
						controversies, disputes, demands, counts, claims, or causes of
						action (including the interpretation and scope of this document, and
						the arbitration choice related to the controversy, dispute, demand,
						count, claim, or cause of action) between an OYOapp user and OYOapp
						LLC shall be settled exclusively in confidence between OYOapp and
						its users or non-users. Arbitration shall be subject to being
						resolved between the parties involved and OYOapp LLC. All users
						agree to forfeit their right to go to court to assert or defend
						their rights in claims, lawsuits and or any legal matters against
						OYOapp LLC.
					</li>
				</ol>

				<h5>15. Force Majeure</h5>
				<ol type="I">
					<li>
						OYOapp shall not be bound to meet any obligation if prevented from
						doing so as a consequence of acts of God (or force majeure),
						including but not limited to measures taken or imposed by any
						government, public authority or in case of any other event beyond
						the control of us, including but not limited to natural disasters
						(such as a storm, hurricane, fire, flood, earthquake,
						electromagnetic pulse, heatwave), war, civil unrest, terrorist
						activities, states of emergency, government sanctions, embargos,
						nationalizations, strikes and breakdowns of public utilities (such
						as electricity or telecommunication services). OYOapp shall use all
						reasonable efforts (most likely via email, text or inapp
						notification) to notify you of the circumstances causing the delay
						and estimated time OYOapp will be back on.
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="privacyPolicyModal" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Privacy Policy</h4>
				<button type="button" class="close privacyPolicy" data-dismiss="modal">
					<i class="icofont-close"></i>
				</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<h5>1. Overall Summary</h5>
				<p class="text-justify px-4">
					This privacy policy illustrates how user OYOapp (Business Owner &
					Customer) account user information is gathered, used, and disclosed by
					OYOapp LLC and all its affiliates, and 3rd party vendors. This Policy
					applies to all users, and non-users or visitors of OYOapp website, web
					application and mobile app.
				</p>
				<p class="text-justify px-4">
					3rd parties, Business Owner and customers account users interacting
					via connecting with each other, appointment booking, and transacting
					may also gather, use, and share information about each other. 3rd
					parties may gather information of OYOapp account users during
					transactions and the account setup processes. This Policy does not
					cover 3rd party and or Business Owners gathering, using and disclosing
					other OYOapp account user’s information. All Business Owner account
					users are encouraged to request consent from Customers and other
					Business Owners they do business with first before using their
					information. For details and information about third-party privacy
					practices, please consult with them (for ex., Stripe) directly.
				</p>

				<h5>2. What Is Collected & Used</h5>
				<p class="text-justify px-4">
					We collect non-user and OYOapp user account information in various
					ways. Generally, all information inputted into the website and system.
					We use this information to improve the user experience, and technical
					functionality while enhancing the quality of our website and system.
					Some of the information we collect consists of your name, date of
					birth, photo, email address, physical address, cell phone number,
					billing information (credit card, debit card), feedback/opinions,
					experience, business name, business hours of operation, current and
					prior appointments details, information from connections (business
					owners and customers), and location data. We may also collect cookies
					(data files unique to your device & location), real time website usage
					behaviors and information from 3rd party/affiliates. OYOapp could use
					user and non-user information collected through our website and system
					for the purposes described in this Policy and or to execute requests
					from users and non-users in connection with the use and or request to
					access OYOapp. OYOapp may use your information for:
				</p>
				<ol type="I" class="text-justify px-4 ml-4">
					<li>
						Improving our website, web and mobile application based on user
						behavior & feedback
					</li>
					<li>Displaying advertisement</li>
					<li>
						Sending you information relating to OYOapp, updates, maintenance,
						alerts, & messages
					</li>
					<li>
						Ensuring proper authentication of your credit and debit card account
						information
					</li>
					<li>
						Protecting, and guarding against fraudulent, unauthorized, or
						illegal activities
					</li>
				</ol>

				<h5>3. How Collected Information Is Shared</h5>
				<ol type="I" class="text-justify px-4 ml-4">
					<li class="mb-2">
						OYOapp has access and visibility to all user information. Non-OYOapp
						account users and OYOapp account users have the ability to view an
						OYOapp Business Owner account user’s information. OYOapp Business
						Owner account users receive customer and other Business Owner
						account information when an appointment is booked, in order to be
						able to facilitate the appointment requested. This means,
						potentially all types of contact information (phone number, email,
						address, credit card, etc.) included in your profile is displayed,
						especially when you are connected to each other. In order for the
						automated transactions to occur once triggered, all OYOapp account
						users must have their registration completed and credit card
						information added in the system.
					</li>
					<li class="mb-2">
						When a transaction is completed, Stripe, a 3rd party entity, also
						receives both parties transaction information. Business Owner
						account users will receive transaction review ratings and comments
						from customer & other Business Owner account users they transact
						with. Business Owner account users may use the information received
						from their connections and other OYOapp users they transact with for
						their own purposes. OYOapp does not control the privacy practices of
						these Business Owner account users. Please contact the Business
						Owner account user directly if you want to learn about their own
						privacy practices.
					</li>
					<li class="mb-2">
						Account calendar synchronization with other calendars such as Google
						and Microsoft will lead to appointment booking information being
						shared to the 3rd party calendar sites (upon user request). All
						OYOapp account users (Business Owner and Customers) agree and
						acknowledge by submitting your credit or debit card account
						information into the system, you consent to the sharing of your
						information with OYOapp account users you transact with, and 3rd
						party vendors (such as Stripe). OYOapp provides an opportunity for
						the transaction to occur via a popular payment gateway
						provider/Stripe and OYOapp has 0% responsibility with the
						performance of these transactions. If there are any issues, the
						OYOapp account users would need to resolve the issue with Stripe.
						All credit/debit card information is stored with Stripe.
					</li>
					<li class="mb-2">
						The OYOapp system provides Business Owner account users the ability
						to share their profile with social media platforms (such as
						Facebook, Instagram or via a link) as a way to attract and easily
						allow non OYOapp account users access to the system with the
						Business Owner account users intent of getting a new client with an
						appointment booked. All OYOapp users are to be mindful of how they
						use this feature to attract new business opportunities, who they
						connect with and how they make their profiles public on different
						social media platforms. OYOapp takes no responsibility with how
						OYOapp account users put to use features and functionalities for
						their gains. OYOapp does not control the privacy policies and
						practices of social media and 3rd party platforms. If you have any
						questions or concerns about social media and 3rd party platforms you
						share your information with, you will have to contact them directly
						to learn.
					</li>
					<li class="mb-2">
						OYOapp may disclose your personal information to:
						<ol type="a">
							<li>
								Comply with local and federal agencies in response to legal
								requests
							</li>
							<li>
								Protect the rights and property of OYOapp, and our account users
							</li>
						</ol>
					</li>
				</ol>

				<h5>4. Personal Information Security</h5>
				<p class="text-justify px-4">
					OYOapp has implemented and will continue implementing the appropriate
					efforts to protect your personal information to prevent information
					loss, unauthorized access, misuse, alteration, disclosure, and
					destruction. When transactions occur (credit/debit card information
					transmission), this information is being transmitted with encrypted
					technological protection (Secure Sockets Layer/SSL).
				</p>
				<ul class="text-justify px-4 ml-4">
					<li class="mb-2">
						All credit/debit card information is stored on Stripe servers, we do
						not have direct control over and or responsibility for your credit
						or debit card account information. Stripe has its own security
						policy and practice to keep your credit or debit card account
						information secure and confidential.
					</li>
					<li>
						Collectively, there is no guarantee that transmissions of your
						credit or debit card account information and or personal information
						will consistently be secure and or there will never be security
						breaches. All OYOapp users agree and acknowledge OYOapp takes no
						liability or responsibility for errors in transmission, or security
						breaches. All OYOapp users must keep their account information safe
						by never sharing usernames and passwords.
					</li>
				</ul>

				<h5>5. Opting Out & Updates</h5>
				<p class="text-justify px-4">
					OYOapp users will receive email communication on updates, alerts,
					things to know and business information. All users have the option to
					opt out from receiving OYOapp communication emails. Once opted out,
					you could still receive communication on critical updates. OYOapp
					users have the responsibility of contacting OYOapp to update their
					communication preferences at any time.
				</p>
				<ul class="text-justify px-4 ml-4">
					<li>
						OYOapp collects cookies and most web browsers are set to accept
						cookies by default. OYOapp users and non-users can choose to remove
						and reject cookies which could affect your use case experience. A
						lot of devices (if not all) emit location data of the device. All
						users and non-users have the ability to turn off their location data
						by accessing the right disable protocol provided by the device
						manufacturer. Please, contact your device manufacturer to obtain the
						steps to deactivate device location. Turning off your location could
						affect your use case experience. If you would like to deactivate
						your account, email Support@OYOapp.com
					</li>
				</ul>
				<p class="text-justify px-4">
					OYOapp may update this policy at any time and OYOapp does not have to
					send any prior notice or post notice to update and or inform users of
					the updates implemented. All OYOapp users and non-users agree and
					acknowledge their responsibility to review this document in a periodic
					manner (of their choice). The use of the OYOapp system is an
					indication of the user’s agreement to the policy and expectations
					shared on this document including the updated versions. If there is a
					disagreement with any aspect of this policy, do not use OYOapp.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- terms and condition end -->
<style>
	.listStyleNone {
		list-style-type: none !important;
	}
</style>
<script
	type="text/javascript"
	src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"
></script>

<script>
	$(document).ready(function () {
		$('#loginModal').modal({
			show: false,
			backdrop: 'static',
		});
		$('.termsConditions').click(function () {
			$('#termsConditionsModal').modal('hide');
			$('#loginModal').modal('show');
		});
		$('.privacyPolicy').click(function () {
			$('#privacyPolicyModal').modal('hide');
			$('#loginModal').modal('show');
		});
		$("form[name='loginForm']").validate({
			ignore: [],
			debug: false,
			rules: {
				email: {
					required: true,
				},
				password: {
					required: true,
					noSpace: true,
				},
			},
			messages: {
				email: {
					required: 'Please enter email address.',
				},
				password: {
					required: 'Please enter password.',
				},
			},

			submitHandler: function (form) {
				$(':submit').attr('disabled', true);
				form.submit();
			},
		});
	});
</script>
